.aboutBody {
  background-image: url("/stickmanHeart.jpg");
  background-size: contain;
  background-color: white;
  background-repeat: no-repeat;
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow-y: scroll; */
  max-height: 100vh; /* Use max-height instead of height */
  text-align: center;
}

.about {
  color: black;
  width: 60%;
  position: relative;
  bottom: 60px;
  border-bottom: 1px solid black;
}

.howToUse ul {
  list-style-type: none;
  font-weight: bold;
}

.howToUse {
  color: black;
  width: 60%;
  position: relative;
  right: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  position: relative;
  bottom: 30px;
  overflow-x: hidden;

 min-height: 25vh;

}

.buttonOpt {
  position: relative;
  right: 20px;
}

.howToUse h2 {
  position: relative;
  left: 20px;
}

.h2Icon:hover {
  border: 2px solid black;
  background-color: orangered;
  border-radius: 45px;
  animation: none;
}

.h2Icon {
  /* border: 3px solid black; */
  /* font-family: "Noto Color Emoji", sans-serif; */

  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* margin: 10px; */
  animation: logo-spins infinite 10s linear;
  position: relative;
  bottom: 0px;
}

@keyframes logo-spins {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 430px) {
  .aboutBody {
    background-image: url("/stickmanHeart.jpg");
    background-size: 30% auto;
    background-color: white;
    background-repeat: no-repeat;
    position: relative;
    top: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    height: 100vh;
    text-align: center;
  }

  .about {
    padding-top: -250px;
    height: 80vh;
    position: relative;
    bottom: 140px;
    left: 20px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    /* border-bottom: 1px solid black; */
  }

  .howToUse {
    margin-top: 30px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    position: relative;
    bottom: 150px;
    left: -20px;
  }

  .howToUse h2 {
    position: relative;
    left: 20px;
  }

  .h2Icon {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;

    /* margin: 10px; */
    animation: logo-spins infinite 10s linear;
    position: relative;
    animation: none;
    bottom: 40px;
  }
}
